body {

  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding: 20px 20px;
  margin: 0;
  background-color: #CCC;
  background-size: cover;
}


h1, h2, h3 {

  font-family: "Montserrat", "sans-serif";
  font-size: 40px;
  font-weight: lighter;
}


#footer{

	color: white;
	margin: 0;
	padding: 5px 5px !important;
	font-family: "Montserrat", "sans-serif";
	background-color: black; 
	border-radius: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;

}


#footer img{
	
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-shadow: 1px 1px 1px grey;
	
}


#footer a:hover{

	text-decoration: none;
	color: white; 
}
